
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base {
    @apply h-screen text-white grid bg-black grid-cols-12 grid-rows-8
  }

  .letter-style {
    @apply font-mono
  }

  .navbar-section {
    @apply col-start-1 bg-[#090909a8] h-full items-center col-end-13 row-start-1 row-end-2 grid grid-cols-12
  }

  .links:hover {
    @apply transition ease-in-out duration-200 cursor-pointer delay-150 tracking-wide
  }

  .main-section {
    @apply  p-0.5   bg-cover col-start-3 col-end-13  row-start-2 row-end-9 overflow-y-scroll
  }

  .hero-section {
    @apply  h-full
  }

  .menu-section {
    @apply col-start-1 col-end-3 row-start-2 row-end-12 gap-10 flex flex-col pt-5
  }

  * {
    @apply m-0 p-0
  }

  .gradient-text-hero {
    @apply bg-gradient-to-l from-yellow-600 from-30% to-orange-700 bg-clip-text text-transparent
  }

  .gradient-text-subtitle {
    @apply bg-gradient-to-l to-orange-700 from-red-600 to-70% bg-clip-text text-transparent
  }

  .bold-hero {
    @apply text-7xl tracking-tight leading-snug rounded-md
    /* drop-shadow-[0_35px_35px_rgba(0,0,0,0.25)] shadow-lg shadow-teal-600/35 */
  }

  .bold-subtitle {
    @apply text-6xl tracking-wide leading-tight rounded-md
    /* shadow-lg shadow-teal-600/35 */
  }

  .logo {
    @apply col-start-2 col-end-2 items-center
  }

  .nav-options {
    @apply col-start-10 col-end-12 md:col-start-9 sm:col-start-6
  }

  .btn-general {
    @apply letter-style text-center p-3.5 bg-slate-900/15 w-full rounded-lg cursor-pointer transition ease-in-out delay-100 duration-200
  }

  .btn-general:hover {
    @apply bg-gray-500/10
  }

  .swiper {
    @apply w-full h-fit
  }

  .picture {
    @apply  col-start-1 h-full  rounded-sm col-end-4 flex-row items-center justify-center
  }
  .info{
    @apply col-start-4 col-end-10  rounded-sm px-2 py-4
  }
  .slide {
    @apply flex h-full items-center justify-center font-mono tracking-tighter
  }

  .glow-ball {
    @apply row-start-6 row-end-6 col-start-2 col-end-2
  }

  .dashboard{
    @apply col-start-1 col-end-13 row-start-3 row-end-8 border-t p-1
    grid grid-rows-4 rounded-lg border-t-[#252121]
  }
  .userName{
    @apply text-4xl user-font  ml-1
  }
  .followers{
    @apply letter-style text-sm mt-2
  }
  .user-details{
    @apply  w-full h-full row-start-2 row-end-5 grid grid-cols-2 pl-2
    user-inline-font text-[#d2d2d7e8]
  }
  
  .user-inline-font{
    @apply letter-style font-semibold leading-tight tracking-tight
  }

  .progress-bg{
    @apply w-full bg-orange-800 h-2 mt-3 rounded-full
  }
  .progress-fore{
    @apply  bg-[#e8850c] h-2 rounded
  }

  .followers>span{
    @apply gradient-text-hero
  }
}

.glow-ball {
  border-radius: 80%;
  border: transparent;
  background: hsla(16, 63%, 42%, 0.64);

  width: 0px;
  aspect-ratio: 1;
  box-shadow: 0 0 50rem 10rem hsla(16, 63%, 47%, 0.64);
}
.user-font {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar{
  background: #000;
  width: 8px;
  
}

::-webkit-scrollbar-thumb{
  background: #c70a0a;
  border-radius: 15rem;
}
